<header id="header" class="clear">
  {%- assign nav_items = "/|HOME" | split: " " -%}
  <div id="mobile-nav-container">
    <nav id="mobile-nav">
      <ul>
        {%- for item in nav_items -%}
          {%- assign els = item | split: "|" -%}
          {%- if page.url == els[0] -%}
            <li class="page-collection active-page"><a href="{{ els[0] | relative_url }}">{{els[1]}}</a></li>
          {%- else -%}
            <li class="page-collection"><a href="{{ els[0] | relative_url }}">{{els[1]}}</a></li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </nav>
    <div id="mobile-nav-toggle">MENU</div>
  </div>
  <div id="upper-logo">
    <h1 class="logo" data-content-field="site-title">
      <a href="{{ "/" | relative_url }}"><span>TINY TALK</span></a>
    </h1>
  </div>
  <div id="main-nav-container">
    <nav id="main-nav" data-content-field="navigation">
        {%- for item in nav_items -%}
          {%- assign els = item | split: "|" -%}
          {%- if page.url == els[0] -%}
            <span class="page-collection active-page"><a href="{{ els[0] |
                relative_url }}">{{els[1]}}</a></span>
          {%- else -%}
            <span class="page-collection"><a href="{{ els[0] | relative_url
                }}">{{els[1]}}</a></span>
          {%- endif -%}
        {%- endfor -%}
    </nav>
  </div>
</header>
